doctype html
html
  head
      block head
        title="Widgets"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(rel='stylesheet' href='/stylesheets/general-auth.css')
        script(src="https://kit.fontawesome.com/a229c5b13d.js" crossorigin="anonymous")
  body(class="theme")
    div(class="auth-nav")
      img(src="/images/widget-black.png")
      h1 Widgets
    div(class="form-container theme")
      h3(class="form-title")= title
      block content