extends layout

include utils

append head
  link(rel="stylesheet" href="/stylesheets/add-story.css")
  script(src="/javascripts/add-story.js" type="module" defer)

block content
  div(class="story-form-container")
    div(class="form-container")
      p(class="form-title") Add A Story
      +validationErrorSummary(errors)
      form(action="/stories/create", method="post" class="user-form")
        input(type="hidden" name="_csrf" value=token)
        +field("Title", 'title', title)
        +field("Description", 'description', description, "textarea")
        +field("Link", 'link', link)
        div(class='form-buttons')
          button(class="form-submit" type='submit') Submit
          span(class="form-submit cancel") Cancel