append head
  link(rel="stylesheet" href="/stylesheets/footer.css")


div(class="footer-container")
  p.site-name FicFav
  div.icon-container
    span.icon.fab.fa-github
      a(href="https://github.com/chrisoney")
    span.icon.fab.fa-linkedin
      a(href="https://www.linkedin.com/in/christopher-oney-317b84132/")
    span.icon.fab.fa-angellist
      a(href="https://angel.co/u/christopher-oney")