extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/story-utils.js" type="module" defer)

block content
  div(class="page-container")
    h1(class="title")= title
    if locals.authenticated
      +preview("stories-link", "fas fa-book", "Stories", storiesDescription, "https://lithub.com/wp-content/uploads/2015/06/book-piles.jpg")
    else
      include splash