doctype html
html
  head
      block head
        title="Widgets"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
        script(src="https://kit.fontawesome.com/a229c5b13d.js" crossorigin="anonymous")
        script(src="/javascripts/story-utils.js" type="module" defer)
        script(src="/javascripts/story-events.js" type="module" defer)
  body(class="theme")
    nav(class="top-nav")
      img(src="/images/widget-white.png" class="widget-icon")
      if locals.authenticated
        form(class='nav-button logout' action='/users/logout' method='post')
          input(class='' type='submit' value='Logout')
        //- button(class='nav-button logout') Logout
      else
        span(class='navbar-text px-4')
          a(class='nav-button' href='/users/login') Login
          a(class='nav-button' href='/users/register') Register

    block content

    include footer.pug