append head
  link(rel="stylesheet" href="/stylesheets/nav-section.css")


div(class="nav-right-container theme")
  h3 Pages
  a(href="/stories/dashboard") Dashboard
  a(href="/stories/discover") Discover
  a(href="/stories/create") Add New Story