.story-form-container{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: var(--reg-blue);
}

.form-container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  padding: 10px;
}

.form-title {
  text-align: center;
}

.form-label {
  margin-right: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.form-submit {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 8px;
  color: white;
  background: var(--reg-blue);
  cursor: pointer;
}

.form-submit:first-child {
  margin-right: 5px;
}

.form-submit:hover {
  background: var(--darker-blue);
}

.cancel {
  background: var(--reg-red)
}

.cancel:hover {
  background: var(--darker-red)
}