body {
  position: relative;
  width:100vw;
  height: 100vh;
  background: var(--light-blue)
}
body.dm {
  background: var(--light-gray)
}
.auth-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 30px;
  width: auto;
  margin-right: 10px;
  margin-top: 2px;
}


.form-container {
  border: 1px solid var(light-border-gray);
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  padding: 10px;
}

.form-container.dm {
  border: 2px solid var(--dark-border-gray);
  background: var(--darker-black);
}

.form-title {
  margin-bottom: 10px;
  text-align: center;
}

.form-label {
  margin-right: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.form-submit {
  border: 1px solid var(--light-border-gray);
  /* border-radius: 5px; */
  padding: 8px 8px;
  color: white;
  background: var(--reg-blue);
  cursor: pointer;
}

.form-submit.dm {
  border: 1px solid var(--dark-border-gray);
}

.form-submit:first-child {
  margin-right: 5px;
}

.form-submit:hover {
  background: var(--darker-blue);
}

.redirect {
  text-align: center;
}

.redirect:hover {
  color: var(--darker-blue);
}