@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
:root {
  /* LIGHT MODE */
  /* navbar/main segments */
  --white: #FFFFFF;
  /* headline */
  --teal: #2A3642;
  /* background */
  --light-blue: #EFF3F8;
  /* border */
  --light-border-gray:#E6E6E6;
  /* emphasis text */
  --emphasis-red: #E26A6A;
  /* black button */
    /* White */
  /* reg red button / stars */
  --reg-red: #D91E18;
  /* hover red button */
  --darker-red: #AB1813;
  /* reg blue button */
  --reg-blue: #337AB7;
  /* hover blue button */
  --darker-blue: #286090;
  /* unavailable blue button */
  --darkest-blue: #28557D;
  /* reg orange button */
  --reg-orange: #E87E04;
  /* hover orange button */
  --darker-orange: #B76303;
  /* darkmode button */
  --lm-dark-gray: #2F353B;
  /* hover darkmode button */
  --lm-darker-gray: #181C1F;

  /* DARK MODE */
  /* navbar/main segments */
  --darker-black: #131313;
  /* headline */
    /* SAME */
  /* background */
  --light-gray: #181818;
  /* border */
  --dark-border-gray: #666666;
  /* emphasis text */
  --golden: #C2A970;
  /* black button */
  --darkest-black: #2C2C2C;
  /* reg red button / stars */
    /* Same */
  /* hover red button */
    /* Same */
  /* reg blue button */
    /* Same */
  /* hover blue button */
    /* Same */
  /* unavailable blue button */
    /* Same */
  /* reg orange button */
    /* Same */
  /* hover orange button */
    /* Same */
  /* lightmode button */
  --dark-gray: #525E64;
  /* hover lightmode button */
  --darker-gray: #3B4448;
}

body {
  position: relative;
  width:100vw;
  height: 100vh;
  background: var(--light-blue);
  /* background-image: url("/images/elephant.jpg"); */
  /* font-family: 'Cabin', sans-serif;; */
}

body.dm {
  background: var(--light-gray);
  color: var(--white);
}

.error-container {
  width: 90%;
  margin-bottom: 20px;
}

.error-title {
  color: var(--emphasis-red);
}

.error-title.dm {
  color: var(--golden)
}

.error-message {
  list-style: none;
  color: var(--emphasis-red);
}

.error-message.dm {
  color: var(--golden)
}