.top-nav {
  background: var(--teal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
}
.widget-icon {
  height: 30px;
  width: auto; 
}
.nav-button {
  margin-right: 10px; 
}

.nav-button {
  border: 1px solid var(--light-border-gray);
  padding: 8px 8px;
  color: white;
  background: var(--reg-blue);
  cursor: pointer;
}

.nav-button.dm {
  border: 1px solid var(--dark-border-gray);
}

.nav-button:first-child {
  margin-right: 5px;
}

.nav-button:hover{
  background: var(--darker-blue);
}

.logout {
  background: var(--reg-red);
}

.logout:hover {
  background: var(--darker-red);
}